.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Sue Ellen Francisco', cursive;
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
  letter-spacing: 2px;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #FFF;
  margin: 10px;
}

button {
  margin: 5px;
  font-family: monospace;
}

.container {
  background-color: #f8f8f8;
  margin-top: 20px;
  font-family: sans-serif;
  padding: 10px;
  border-bottom: 5px solid #ff0053;
}

.joke {
  font-weight: bold;
}

.freeWill {
  padding-top: 10px;
  font-family: monospace;
  color: #ff0053;
  font-size: large;
}
 
.temp {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* colors:
#ff0053 pinkki
#f8f8f8 vaalea harmaa
#fff valkea   #282c34;*/
